
.timpie {
  padding-right:40px;
  max-width: 200px;
  vertical-align: middle;
  align: left;
}

.fbinlay {
  width: 150px;
  height: 150px;
  background-image: url("../img/fbwhite.png");
  background-size: contain;
  display: inline-block;
  padding-bottom: 10px;
}

.fbinlay:hover {
  background-image: url("../img/fbblack.png");
  background-repeat: no-repeat;
}
