a {
    outline:none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menubtn:hover:not(.active) {
    background-color: #fefb00;
    color: #000
}
.top-menu a {
    -webkit-transition: .7s all ease-out;
    -moz-transition: .7s all ease-out;
    transition: .7s all ease-out;
}
.menubtn.active {
    background-color: #f300ff;
}

iframe {
  padding: 40px 40px;
}

.bandlink:hover {
    color: #f300ff
}
